<form action="/bookmarks/add" method="post">
  Enter URL:
  <input type="text" name="add_url" placeholder="URL">
  <br>
  Title:
  <input type="text" name="add_title" placeholder="Title">
  <br>
  <input type="submit" value="Submit">
</form>
