<form action="/bookmarks/create" method="post">
  Enter URL:
  <input type="text" name="create_url" placeholder="URL">
  <br>
  Title:
  <input type="text" name="create_title" placeholder="Title">
  <br>
  <input type="submit" value="Submit">
</form>
