<h1>Bookmark Manager</h1>
<ul>
<% @bookmarks.each do |bookmark| %>
  <li>
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
  </li>
<% end %>
</ul>
<form action="/bookmarks/add" method="get">
  <input type="submit" value="Add Bookmark">
</form>
